.site-header__container {
  display: flex;
  align-items: center;
  padding-top: 3.9rem;
  padding-bottom: 3.9rem;
  @media only screen and (max-width: 768px) {
    padding-top: 2.9rem;
    padding-bottom: 2.9rem;
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.site-header__logo {
  margin-right: auto;
  @media only screen and (max-width: 600px) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}