/* FONTS */
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-grotesk-v15-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/space-grotesk-v15-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-grotesk-v15-latin-700.woff2') format('woff2');
}

/* GLOBAL-STYLES  */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--white);
  color: var(--black);
  font-family: "Space Grotesk", "Arial", sans-serif;
  font-size: 1.8rem;
  line-height: 1.55;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* FOCUS-STYLES  */
*:focus {
  outline: 0.3rem dashed var(--black);
  outline-offset: 0.3rem;
}

/* CONTAINER  */
.container {
  max-width: 115rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}